Server/ServiceTest/Connected Services/LobbyService/LobbyService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Service.DTO" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Service.DTO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8088/LobbyService?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="CreateLobbyRequestDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Host" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsPrivate" type="xs:boolean" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CreateLobbyRequestDTO" nillable="true" type="tns:CreateLobbyRequestDTO" />
  <xs:complexType name="LobbyDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="CurrentPlayers" type="xs:int" />
      <xs:element minOccurs="0" name="Host" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsPrivate" type="xs:boolean" />
      <xs:element minOccurs="0" name="LobbyId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MaxPlayers" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Players" nillable="true" type="q1:ArrayOfstring" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LobbyDTO" nillable="true" type="tns:LobbyDTO" />
  <xs:complexType name="JoinLobbyRequestDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="LobbyId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="JoinLobbyRequestDTO" nillable="true" type="tns:JoinLobbyRequestDTO" />
  <xs:complexType name="ArrayOfLobbyDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LobbyDTO" nillable="true" type="tns:LobbyDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLobbyDTO" nillable="true" type="tns:ArrayOfLobbyDTO" />
</xs:schema>